<h2>Post details:</h2><br><br>

<div>
  <span style="font-size: 75%; color: #999"><%=@content[0]['created_date']%></span>
  <p class="lead"><%=@content[0]['content']%></p>
  <hr>
</div>

<h4>Comments:</h4>

<%@post_comments.each do |comment|%>
    <p><%=comment['content']%>
    <br />
    <span style="font-size: 50%; color: #999"><%=comment['created_date']%></span>
    </p>
    <hr>
<%end%>

<form action="/entry/<%=@post_id%>" method="POST" role="form">
  <textarea name="new_comment" class="form-control" rows="6" style="width: 400px" placeholder="Add your comment"></textarea>
  <br>
  <button type="submit" class="btn btn-primary">Yarrr!</button>
</form>
